$body-background-color : coral;
$primary-color : #51b3b3;
$sub-primary-color :  rgb(84, 159, 184);
$active-primary-color : rgb(84, 159, 184);
$main-font-family : sans-serif;
$font-color : #223323;
$white-background-color : #f2f2f2f2;
$transition-duration : .4s;